{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style2.css' %}">
    <title>Cadastro</title>
</head>
<body>
    <form action="">
        <div class="cadastro">
            <input class="filling_fields" type="text" name="username" id="username" placeholder="Nome de usuário">
            <input class="filling_fields" type="email" name="email" id="email" placeholder="E-mail">
            <input class="filling_fields" type="password" name="password" id="password" placeholder="Senha">
            <input class="filling_fields" type="button" value="Cadastrar">
        </div>
    </form>
</body>
</html>
